<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <form class="mt-4" method="POST">
                <div class="form-group">
                    <label for="search-input">Từ khóa</label>
                    <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa.." name="q">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>